body {
  background: rgba(238, 102, 102, 0.568);
}

.dictionaryApp form {
  background: #ff634775;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  padding: 30px;
  margin: 30px;
  width: auto;
  border-radius: 6px;
  text-align: left;
}

input {
  padding: 6px 4px;
  width: 100%;
  text-align: left;
  border-radius: 5px;
  background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
  background-repeat: no-repeat;
  background-position: right center;
  font-size: 18px;
}

h1 {
  font-size: 100px;
  line-height: 20%;
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-size: 25px;
  font-family: "Merriweather", serif;
}

.suggested {
  font-style: italic;
  line-height: 1px;
}
