h2 {
  font-size: 50px;
  line-height: 2px;
  text-transform: capitalize;

  font-family: "Arvo", serif;
}

section {
  font-size: 20px;
  background: #ff634775;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  padding: 30px;
  margin: 30px;
  width: auto;
  border-radius: 6px;
  text-align: left;
}

img {
  width: 4%;
  margin: 0px 10px;
}

span {
  font-size: 25px;
}
